
/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
    display: none;
  }
  
  
  
  
  .my-title {
  color: black;
  }




  
/* ===============
   1.  ul class .flex
================ */

.hide-when-mobile {
    display: flex;
    justify-content: space-around;
  }
  
  .flex {
    display: flex;
  }
  
  .main-list {
    padding: 20px;
    font-size: 19px;
    position: relative;
  }
  
  .main-link {
    padding: 8px 15px;
  }
  
  .main-link:hover {
    color: cyan;
    box-shadow: 0 0 5px cyan;
    border-radius: 5px;
  }
  
  .main-link.active {
    color: cyan;
    box-shadow: 0 0 5px cyan;
    border-radius: 5px;
  }
  


  @media (max-width: 800px) {
    .show-when-mobile {
      display: block;
    }
    
    .hide-when-mobile {
      display: none;
    }
    
  }